[Unit]
Description=Prometheus exporter for Redis metrics.
Documentation=https://github.com/oliver006/redis_exporter

[Service]
TimeoutStartSec=0
User=redis_exporter
ExecStart={{ redis_exporter_bin_path }} {{ redis_exporter_options }}

[Install]
WantedBy=multi-user.target
