[Unit]
Description=Redis Exporter
Documentation=https://github.com/oliver006/redis_exporter

Wants=network-online.target
After=network-online.target

[Service]
Restart=always
TimeoutStartSec=0
User={{ exporter }}
Group={{ exporter }}
ExecStart={{ exporter_bin_path }} {{ exporter_options }}

[Install]
WantedBy=multi-user.target
